* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cffafd;
  color: #234c4e;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  gap: 30px;
  align-items: center;
}

h1 {
  margin: 0;
}

.title {
  display: flex;
  gap: 30px;
  align-items: center;
}

span {
  font-weight: bold;
  font-size: 24px;
}

.country-info {
  font-size: 24px;
  line-height: 1.75;
}